@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Passion+One:wght@400;700;900&family=Roboto+Slab:wght@100..900&family=Sriracha&display=swap');
@font-face {
    font-family: 'army';
    src: url(fontes/gunplay\ rg.otf);
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --font-destaque: "Roboto Slab", serif;
}
body{
    background-color: lightblue;
    font-family: var(--font-destaque);        
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.308);
}
header h1{
    font-family: 'army';
    font-size: 2vw;
    font-weight: normal;
}

main{
    position: relative;
    
    height: 82vh;
    background-image: url(imagens/hipster-young-man-with-backpack-enjoying-sunset-peak-mountain.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

form{
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -140%);

}

section#resultado{
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -55%);
}

label {
    font-weight: bold;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    align-items: flex-end;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #45a049;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 4px;
}