<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
    <h2>Calculadora de Tempo de Serviço Militar</h2>
    <form action="/calculate" method="post">
        <label for="data_inicio">Data de Início (DD/MM/YYYY):</label>
        <input type="date" name="data_inicio" placeholder="Ex: 01012020" required>
        
        <label for="data_final">Data Final (DD/MM/YYYY):</label>
        <input type="date" name="data_final" placeholder="Ex: 01012020" required>
        
        <button type="submit">Calcular</button>
    </form>

    {% if anos is not none %}
        <h3>Resultado:</h3>
        <p>O tempo de serviço militar é de {{ anos }} anos, {{ meses }} meses e {{ dias_restantes }} dias.</p>
        <p>Total de dias: {{ dias_totais }}</p>
    {% endif %}
</body>
</html>
